.thematic-break {
  font-weight: 600;
  text-transform: full-width;
}

.heading {
  font-weight: 900;

  @for $i from 1 through 6 {
    &.heading-#{$i} {
      font-size: 1.7em - ($i / 10);
    }
  }
}

.code {
  font-family: monospace;
  padding: 0.5em;
}

.definition {
  font-weight: 500;
  
  &.definition-label {
    font-weight: 900;
    padding-left: 0.5em;
  }

  &.definition-url {
    text-decoration: underline;
  }

  &.definition-title {
    font-style: italic;
  }
}

.table {
  font-family: monospace;

  &.table-separator, &.table-delimiter, &.table-header {
    font-weight: 900;
  }
}

.blockquote {
  &:first-of-type, :not(&) + & {
    margin-left: 0.25em;
    border-left: 0.2em solid;
    padding: 0 0.25em;
  }
}

.list-item {
  &.list-item-pre {
    padding: 1px 0 1px 0.25em;
    font-weight: 900;
    font-family: monospace;
  }

  &.tasklist {
    padding: 0 0.1em;
    font-weight: 600;
    font-family: monospace;
  }
}

.inline-code {
  font-family: monospace;
  padding: 0 0.25em;
}

.strong {
  font-weight: 900;
}

.emphasis {
  font-style: italic;
}

.delete {
  text-decoration: line-through 0.1em;
}

.link {
  &.link-url {
    text-decoration: underline;
  }

  &.link-title {
    font-style: italic;
  }
}

.link-reference {
  &.link-reference-ref {
    text-decoration: underline;
    font-weight: 600;
  }
}